.profile-view {
  margin-top: 30px;
}
.top-elements {
  width: 100%;
  max-width: 950px;
  margin-top: 10px;
}

.backProfileButton {
  margin-top: 10px;
  margin-right: 40px;
}

.your-profile {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

.card-title {
  text-align: center;
  font-weight: bold;
}
.card-text {
  text-align: left;
}
.formDisplay {
  text-align: left;
  font-weight: bold;
}

.delete-profile-button {
  text-align: center;
}

.username,
.email,
.birthday {
  font-weight: bold;
}

.update-profile {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
}

.update-title {
  font-weight: bold;
}

.update-profile-button {
  text-align: center;
  margin-top: 15px;
}

.favorite-Movies-title {
  margin-top: 30px;
  text-align: center;
  color: black;
}

.favoriteMoviediv {
  text-align: center;
}

.favoriteMovied-col {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
.favoriteMovieButton {
  margin-top: 10px;
}
